<div class="add-button" fxLayoutAlign="center end">
  <button  nz-button nzType="default" (click)="addSymbol()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    <span>Add Symbol</span></button>
</div>
<nz-modal [(nzVisible)]="modalVisible" [nzTitle]="null" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"
  [nzFooter]="null">

  <ng-template #modalContent>
    <form nz-form [formGroup]="symbolsForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="symbol">Symbol</nz-form-label>
        <nz-form-control nzErrorTip="Title must be between 3 to 40 characters">
          <input nz-input style="width: 250px;" formControlName="symbol" id="symbol" />
        </nz-form-control>
      </nz-form-item>
     
      <div fxLayoutAlign="end">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" type="submit" [disabled]="!symbolsForm.valid">Add</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-template>

</nz-modal>


<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter>
        Symbol
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Price</th>
      <th>Last Change</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data; let i=index">
      <td>{{ data.symbol }}</td>
      <td>{{ data.price }}</td>
      <td id="color">{{ data.lastChange }}</td>
      <td><div><a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data)">
        <i nz-icon nzType="delete" nzTheme="outline" ></i>
      </a></div></td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>